<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Hardgainer AU</string>
			<key>factoryFunction</key>
			<string>HardgainerFactory</string>
			<key>manufacturer</key>
			<string>Frhn</string>
			<key>name</key>
			<string>Farhan Mannan: Hardgainer (Effect AU)</string>
			<key>subtype</key>
			<string>GAIN</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Hardgainer</string>
	<key>CFBundleIdentifier</key>
	<string>com.farhanmannan.audiounit.hardgainer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hardgainer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>Frhn</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Farhan Mannan. All rights reserved.</string>
</dict>
</plist>
